@import url('reset.css');

body {
	background-color: black;
}

.wrapper{
	width:800px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top:6px;
	background-color: white;
}




.show{
	display:block;
}

.hide{
	display:none;
}

