@import url('reset.css');

body {
	background-color:black;
}

.wrapper{
	width:800px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top:6px;
	background-color: white;
}

.title1{
	width:800px;
	height:500px;
	background-color:black;
	background-image:url("images/title1.jpg");
}


.show{
	display:block;
}

.hide{
	display:none;
}

